<!DOCTYPE html>
<html lang="en" ng-app="booksMod">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <style>
        #add span {
            display: inline-block;
            width: 85px;
        }
    </style>
</head>
<body>
<div class="container" ng-controller="bookCtrl">
    <div id="add">
        <span>索书号：</span><input type="text" ng-model="book.bookNo" ng-required="true"/><br/>
        <span>书名：</span><input type="text" ng-model="book.name" ng-required="true"><br/>
        <span>作者：</span><input type="text" ng-model="book.author" ng-required="true"/><br/>
        <span>出版日期</span><input type="date" ng-model="book.pubDay"><br/>
        <button ng-click="add()">保存</button>
    </div>
    <hr/>
    <table border="1" cellpadding="1" cellspacing="0">
        <thead>
        <tr>
            <th>索书号</th>
            <th>书名</th>
            <th>作者</th>
            <th>出版日期</th>
            <th colspan="2">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="book in books | filter:search | orderBy:order|limitTo:limit |page:pn:ps">
            <td ng-bind="book.bookNo"></td>
            <td ng-bind="book.name"></td>
            <td ng-bind="book.author"></td>
            <td ng-bind="book.pubDay"></td>
            <td>
                <button ng-click="update(book)">更新</button>
            </td>
            <td>
                <button ng-click="delete(book)">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <ul>
        <li><span>过滤：</span><input type="text" ng-model="search"/></li>
        <li><span>显示条数：</span><input type="text" ng-model="limit"/></li>
        <li><span>排序:</span><select ng-model="order">
            <option value="name">按名称正序</option>
            <option value="-name">按名称倒序</option>
        </select></li>
        <li><span>分页:</span><br/>
            当前页：<input type="text" ng-model="pn"/>
            每页条数：<input type="text" ng-model="ps"/>
        </li>
    </ul>
</div>
</body>
<script src="/client/angular.js"></script>
<script src="/client/angular-resource.js"></script>

<script>
        angular.module('booksMod', ['ngResource']).factory('bookService', function ($resource) {
            return $resource('books/:id', {id: '@id'}, {                    //注册服务
                update: {
                    method: 'PUT'
                }
            })
        }).controller('bookCtrl', function ($scope, bookService) {
            $scope.book = {};
            //$scope.books = bookService.query();
            bookService.query().$promise.then(function (result) {    //查询全部
                $scope.books = result;
                $scope.pn = 1;
                $scope.ps = $scope.books.length;
                $scope.books.map(function (book) {
                    book['pubDay'] = new Date(book['pubDay']).toLocaleDateString();
                });
            });

            $scope.add = function () {                                      //添加
                var flag = 0;
                for (var i in $scope.book) {
                    if ($scope.book.hasOwnProperty(i) && $scope.book[i] !== '') {
                        flag++;
                    }
                }
                if (flag === 4 || flag == 8) {
                    bookService.save($scope.book).$promise.then(function (result) {
                        if ($scope.book._id) {
                            $scope.books = $scope.books.map(function (book) {
                                if (book._id === $scope.book._id) {
                                    $scope.book['pubDay'] = new Date($scope.book['pubDay']).toLocaleDateString();
                                    return $scope.book;
                                } else {
                                    return book;
                                }
                            });
                        } else {
                            result['pubDay'] = new Date(result['pubDay']).toLocaleDateString();
                            $scope.books.push(result);
                        }
                        $scope.book = {};
                    });
                } else {
                    alert('请完善信息');
                }

            }

            $scope.delete = function (book) {               //删除
                bookService.delete(book).$promise.then(function (result) {
                    $scope.books = $scope.books.filter(function (current) {
                        return current._id != book._id;
                    });
                })
            }

            $scope.update = function (book) {                  //更新回显
                bookService.update(book).$promise.then(function (result) {
                    $scope.book = result;
                    $scope.book['pubDay'] = new Date($scope.book['pubDay']);
                })
            }
        }).filter('page', function () {        //分页过滤
            return function (input, pn, ps) {
                pn = parseInt(pn);
                ps = parseInt(ps);
                var start = (pn - 1) * ps;
                var end = start + ps;
                try{
                    return input.slice(start, end);
                }catch(e){
                    //console.log(e);
                }

            }
        })
</script>
</html>